body{
  font-family:sans-serif;
  color: Green;
  font-size: 17px;
}
h1{
  font-size: 30px;
  font-style: italic;

}
.container{
	width: 70%;
	margin: auto;
}

#year-input{
	border-radius: 5px;
	width: 60px;
	height: 20px;
	box-shadow: 2px 2px #000000;
}
#month-input{
	border-radius: 5px;
	width: 60px;
	height: 20px;
	box-shadow: 2px 2px #000000;
}
#day-input{
	border-radius: 5px;
	width: 60px;
	height: 20px;
	box-shadow: 2px 2px #000000;
}
#get-name{
	border-radius: 5px;
	color: red;
	background-color: green;
	text-align: center;
	height: 30px
	font-size:12px;
	box-shadow: 2px 2px #000000;
}
#result{
	text-align: left;
	color: green;
}
.content{
  background-color: #343a40;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 12px;
  margin-bottom: auto;
  padding-bottom: 20px;
  box-shadow: 2px 2px #000000;
  border-radius: 0.5%;
research{
	text-decoration: underline;
	color: white;
}
.clear{
	border-radius: 5px;
	color: black;
	background-color: white;
	text-align: center;
	width: 108px;
	height: 30px;
	font-size: 12px;
	box-shadow: 2px 2px #000000;

}